[Desktop Entry]
Name=Flatpost
Exec=python3 /usr/bin/flatpost
Icon=com.flatpost.flatpostapp
Type=Application
Categories=Utility;
MimeType=application/vnd.flatpak.ref;application/vnd.flatpak.repo;
